In [40]:
import pandas as pd

In [41]:
df=pd.read_html('https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/medal-standings.htm')

In [62]:
medals_by_country= df[0].rename(columns={'Unnamed: 2':'Gold','Unnamed: 3':'Silver','Unnamed: 4':'Bronze'})
medals_by_country

,Rank,Team/NOC,Gold,Silver,Bronze,Total,RankbyTotal,NOCCode
0,1,United States of America,39,41,33,113,1,USA
1,2,People's Republic of China,38,32,18,88,2,CHN
2,3,Japan,27,14,17,58,5,JPN
3,4,Great Britain,22,21,22,65,4,GBR
4,5,ROC,20,28,23,71,3,ROC
...,...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77,GHA
89,86,Grenada,0,0,1,1,77,GRN
90,86,Kuwait,0,0,1,1,77,KUW
91,86,Republic of Moldova,0,0,1,1,77,MDA
92,86,Syrian Arab Republic,0,0,1,1,77,SYR

In [43]:
medals_by_country_men= df[1].rename(columns={'Unnamed: 1':'Gold','Unnamed: 2':'Silver','Unnamed: 3':'Bronze'})
medals_by_country_female= df[2].rename(columns={'Unnamed: 1':'Gold','Unnamed: 2':'Silver','Unnamed: 3':'Bronze'})
medals_by_country_mixed= df[3].rename(columns={'Unnamed: 1':'Gold','Unnamed: 2':'Silver','Unnamed: 3':'Bronze'})
medals_by_country_open= df[4].rename(columns={'Unnamed: 1':'Gold','Unnamed: 2':'Silver','Unnamed: 3':'Bronze'})

medals_by_country_open

        Team/NOC  Gold  Silver  Bronze  Total NOCCode
0  United States     0       2       0      2     USA
1  Great Britain     2       1       2      5     GBR
2      Australia     0       1       1      2     AUS
3    Netherlands     0       0       1      1     NED
4         France     0       0       1      1     FRA
5        Germany     3       1       0      4     GER
6         Sweden     1       1       0      2     SWE
7        Belgium     0       0       1      1     BEL

In [44]:
medals_by_country_men['Gender']='Male'
medals_by_country_female['Gender']='Female'
medals_by_country_mixed['Gender']='Mixed'
medals_by_country_open['Gender']='Open'

In [45]:
medals_by_country_gender= medals_by_country_men.append(medals_by_country_female).append(medals_by_country_mixed).append(medals_by_country_open)
medals_by_country_gender= medals_by_country_gender.reset_index(drop=True)

In [46]:
medals_by_country_gender.to_csv('MedalsByCountryGender.csv',index=False)

In [47]:
import os 
os.chdir('/Users/teetusaini/Documents/Master_in_Web_science/GithubRepos/Tokyo_Olympic_2020')

In [48]:
medals_by_country_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team/NOC  180 non-null    object
 1   Gold      180 non-null    int64
 2   Silver    180 non-null    int64
 3   Bronze    180 non-null    int64
 4   Total     180 non-null    int64
 5   NOCCode   180 non-null    object
 6   Gender    180 non-null    object
dtypes: int64(4), object(3)
memory usage: 10.0+ KB

## Discipline per country

In [63]:
unique_countries=list(medals_by_country['Team/NOC'].unique())

In [64]:
# xdf= pd.read_html('https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-united-states.htm')
# xdf=xdf[0][:-1]
# xdf

In [73]:
discip_country_dict={'United States of America': 'united-states',
                        "People's Republic of China": 'china',
                        "Islamic Republic of Iran":'islamic-rep-of-iran',
                        "Dominican Republic": 'dominican-rep-',
                        "Syrian Arab Republic" :"syrian-arab-rep-",
                        "Republic of Moldova":"rep-of-moldova",
                        "CÃ´te d'Ivoire":"cote-d-ivoire"}

url= 'https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-'
df=pd.DataFrame()
#getting all country names 
for country in unique_countries:
    if country in discip_country_dict:
        comp_url=url+discip_country_dict[country]+'.htm'
        print(comp_url)
        x=pd.read_html(comp_url)
        x=x[0][:-1]
        x['Team/NOC']=country
        df=df.append(x).reset_index(drop=True)
    else: 
        country= country.lower()
        country= country.replace(' ','-').replace('.','').replace(',','')
        comp_url = url+country+'.htm'
        print(comp_url)
        x=pd.read_html(comp_url)
        x=x[0][:-1]
        x['Team/NOC']=country
        df=df.append(x).reset_index(drop=True)


df

https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-united-states.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-china.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-japan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-great-britain.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-roc.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-australia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-netherlands.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-france.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-germany.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-italy.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-canada.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-brazil.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-new-zealand.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-cuba.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-hungary.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-republic-of-korea.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-poland.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-czech-republic.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kenya.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-norway.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-jamaica.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-spain.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-sweden.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-switzerland.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-denmark.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-croatia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-islamic-rep-of-iran.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-serbia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-belgium.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-bulgaria.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-slovenia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-uzbekistan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-georgia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-chinese-taipei.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-turkey.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-greece.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-uganda.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ecuador.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ireland.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-israel.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-qatar.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-bahamas.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kosovo.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ukraine.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-belarus.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-romania.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-venezuela.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-india.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-hong-kong-china.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-philippines.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-slovakia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-south-africa.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-austria.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-egypt.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-indonesia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ethiopia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-portugal.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-tunisia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-estonia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-fiji.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-latvia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-thailand.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-bermuda.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-morocco.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-puerto-rico.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-colombia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-azerbaijan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-dominican-rep-.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-armenia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kyrgyzstan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-mongolia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-argentina.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-san-marino.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-jordan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-malaysia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-nigeria.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-bahrain.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-saudi-arabia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-lithuania.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-north-macedonia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-namibia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-turkmenistan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kazakhstan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-mexico.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-finland.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-botswana.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-burkina-faso.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-cote-d-ivoire.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ghana.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-grenada.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kuwait.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-rep-of-moldova.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-syrian-arab-rep-.htm

               Discipline   F   M  Total                  Team/NOC
0          3x3 Basketball   4   0      4  United States of America
1                 Archery   3   3      6  United States of America
2     Artistic Gymnastics   6   5     11  United States of America
3       Artistic Swimming   2   0      2  United States of America
4               Athletics  65  63    128  United States of America
...                   ...  ..  ..    ...                       ...
1645           Equestrian   0   1      1      Syrian Arab Republic
1646             Swimming   0   1      1      Syrian Arab Republic
1647         Table Tennis   1   0      1      Syrian Arab Republic
1648            Triathlon   0   1      1      Syrian Arab Republic
1649        Weightlifting   0   1      1      Syrian Arab Republic

[1650 rows x 5 columns]

In [81]:
discipline_per_country_gender= df
discipline_per_country_gender.to_csv('DisciplineByCountryGender.csv', index=False)

In [80]:
discipline_per_country_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Discipline  1650 non-null   object
 1   F           1650 non-null   int64
 2   M           1650 non-null   int64
 3   Total       1650 non-null   int64
 4   Team/NOC    1650 non-null   object
dtypes: int64(3), object(2)
memory usage: 64.6+ KB

In [87]:

df=pd.read_html('https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/entries-by-discipline.htm')
entries_by_discipline_gender=df[0]
entries_by_discipline_gender

               Discipline Gender
               Discipline      F     M  Total
0          3x3 Basketball     32    32     64
1                 Archery     64    64    128
2     Artistic Gymnastics     98    98    196
3       Artistic Swimming    104     0    104
4               Athletics    951  1066   2017
5               Badminton     86    87    173
6       Baseball/Softball     90   144    234
7              Basketball    144   144    288
8        Beach Volleyball     48    48     96
9                  Boxing    102   187    289
10           Canoe Slalom     41    41     82
11           Canoe Sprint    122   126    248
12  Cycling BMX Freestyle      9     9     18
13     Cycling BMX Racing     24    24     48
14  Cycling Mountain Bike     38    38     76
15           Cycling Road     70   131    201
16          Cycling Track     92   103    195
17                 Diving     72    71    143
18             Equestrian     74   123    197
19                Fencing    128   133    261
20               Football    264   344    608
21                   Golf     60    60    120
22               Handball    172   173    345
23                 Hockey    192   192    384
24                   Judo    192   201    393
25                 Karate     39    42     81
26      Marathon Swimming     25    26     51
27      Modern Pentathlon     36    36     72
28    Rhythmic Gymnastics     96     0     96
29                 Rowing    257   264    521
30           Rugby Sevens    156   156    312
31                Sailing    175   175    350
32               Shooting    178   178    356
33          Skateboarding     40    40     80
34         Sport Climbing     20    20     40
35                Surfing     20    20     40
36               Swimming    401   479    880
37           Table Tennis     88    86    174
38              Taekwondo     65    65    130
39                 Tennis     94    96    190
40  Trampoline Gymnastics     16    16     32
41              Triathlon     55    55    110
42             Volleyball    144   144    288
43             Water Polo    130   156    286
44          Weightlifting     98    99    197
45              Wrestling     96   193    289
46                  Total   5498  5985  11483

In [88]:
entries_by_discipline_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   (Discipline, Discipline)  47 non-null     object
 1   (Gender, F)               47 non-null     int64
 2   (Gender, M)               47 non-null     int64
 3   (Gender, Total)           47 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.6+ KB

In [91]:
entries_by_discipline_gender.to_csv('EntriesByDisciplineAndGender.csv',index=False)

In [92]:
df=pd.read_html('https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/athletes.htm')

In [93]:
df

[Empty DataFrame
 Columns: [Name, NOC, Discipline, JPN NOC Order, JPN Discipline Order]
 Index: []]

# For Atheletes

In [151]:
from selenium import webdriver

driver = driver = webdriver.Chrome(executable_path=r'/Users/teetusaini/Downloads/chromedriver')
driver.implicitly_wait(10) # wait up to 10 seconds while trying to locate elements
driver.maximize_window()
driver.get('https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/athletes.htm')

#creating dataframe 
athletes_df= pd.DataFrame(columns=['Name','NOC','Discipline'])

for page in range(0, 584):
    table = driver.find_element_by_css_selector('div.col-sm-12')
    links = table.find_elements_by_tag_name('a')
    for i in range(0,len(links),3):
        row={'Name':links[i].text,'NOC':links[i+1].text,'Discipline':links[i+2].text}
        athletes_df=athletes_df.append(row,ignore_index=True)

    element = driver.find_element_by_xpath('//*[@id="entries-table_next"]/a')
    driver.execute_script("arguments[0].click();", element)
    driver.implicitly_wait(10)
    
driver.quit()
print('Completed...')
athletes_df

Page No 0
Page No 1
Page No 2
Page No 3
Page No 4
Page No 5
Page No 6
Page No 7
Page No 8
Page No 9
Page No 10
Page No 11
Page No 12
Page No 13
Page No 14
Page No 15
Page No 16
Page No 17
Page No 18
Page No 19
Page No 20
Page No 21
Page No 22
Page No 23
Page No 24
Page No 25
Page No 26
Page No 27
Page No 28
Page No 29
Page No 30
Page No 31
Page No 32
Page No 33
Page No 34
Page No 35
Page No 36
Page No 37
Page No 38
Page No 39
Page No 40
Page No 41
Page No 42
Page No 43
Page No 44
Page No 45
Page No 46
Page No 47
Page No 48
Page No 49
Page No 50
Page No 51
Page No 52
Page No 53
Page No 54
Page No 55
Page No 56
Page No 57
Page No 58
Page No 59
Page No 60
Page No 61
Page No 62
Page No 63
Page No 64
Page No 65
Page No 66
Page No 67
Page No 68
Page No 69
Page No 70
Page No 71
Page No 72
Page No 73
Page No 74
Page No 75
Page No 76
Page No 77
Page No 78
Page No 79
Page No 80
Page No 81
Page No 82
Page No 83
Page No 84
Page No 85
Page No 86
Page No 87
Page No 88
Page No 89
Page No 90
Page No 91
Page No 92
Page No 93
Page No 94
Page No 95
Page No 96
Page No 97
Page No 98
Page No 99
Page No 100
Page No 101
Page No 102
Page No 103
Page No 104
Page No 105
Page No 106
Page No 107
Page No 108
Page No 109
Page No 110
Page No 111
Page No 112
Page No 113
Page No 114
Page No 115
Page No 116
Page No 117
Page No 118
Page No 119
Page No 120
Page No 121
Page No 122
Page No 123
Page No 124
Page No 125
Page No 126
Page No 127
Page No 128
Page No 129
Page No 130
Page No 131
Page No 132
Page No 133
Page No 134
Page No 135
Page No 136
Page No 137
Page No 138
Page No 139
Page No 140
Page No 141
Page No 142
Page No 143
Page No 144
Page No 145
Page No 146
Page No 147
Page No 148
Page No 149
Page No 150
Page No 151
Page No 152
Page No 153
Page No 154
Page No 155
Page No 156
Page No 157
Page No 158
Page No 159
Page No 160
Page No 161
Page No 162
Page No 163
Page No 164
Page No 165
Page No 166
Page No 167
Page No 168
Page No 169
Page No 170
Page No 171
Page No 172
Page No 173
Page No 174
Page No 175
Page No 176
Page No 177
Page No 178
Page No 179
Page No 180
Page No 181
Page No 182
Page No 183
Page No 184
Page No 185
Page No 186
Page No 187
Page No 188
Page No 189
Page No 190
Page No 191
Page No 192
Page No 193
Page No 194
Page No 195
Page No 196
Page No 197
Page No 198
Page No 199
Page No 200
Page No 201
Page No 202
Page No 203
Page No 204
Page No 205
Page No 206
Page No 207
Page No 208
Page No 209
Page No 210
Page No 211
Page No 212
Page No 213
Page No 214
Page No 215
Page No 216
Page No 217
Page No 218
Page No 219
Page No 220
Page No 221
Page No 222
Page No 223
Page No 224
Page No 225
Page No 226
Page No 227
Page No 228
Page No 229
Page No 230
Page No 231
Page No 232
Page No 233
Page No 234
Page No 235
Page No 236
Page No 237
Page No 238
Page No 239
Page No 240
Page No 241
Page No 242
Page No 243
Page No 244
Page No 245
Page No 246
Page No 247
Page No 248
Page No 249
Page No 250
Page No 251
Page No 252
Page No 253
Page No 254
Page No 255
Page No 256
Page No 257
Page No 258
Page No 259
Page No 260
Page No 261
Page No 262
Page No 263
Page No 264
Page No 265
Page No 266
Page No 267
Page No 268
Page No 269
Page No 270
Page No 271
Page No 272
Page No 273
Page No 274
Page No 275
Page No 276
Page No 277
Page No 278
Page No 279
Page No 280
Page No 281
Page No 282
Page No 283
Page No 284
Page No 285
Page No 286
Page No 287
Page No 288
Page No 289
Page No 290
Page No 291
Page No 292
Page No 293
Page No 294
Page No 295
Page No 296
Page No 297
Page No 298
Page No 299
Page No 300
Page No 301
Page No 302
Page No 303
Page No 304
Page No 305
Page No 306
Page No 307
Page No 308
Page No 309
Page No 310
Page No 311
Page No 312
Page No 313
Page No 314
Page No 315
Page No 316
Page No 317
Page No 318
Page No 319
Page No 320
Page No 321
Page No 322
Page No 323
Page No 324
Page No 325
Page No 326
Page No 327
Page No 328
Page No 329
Page No 330
Page No 331
Page No 332
Page No 333
Page No 334
Page No 335
Page No 336
Page No 337
Page No 338
Page No 339
Page No 340
Page No 341
Page No 342
Page No 343
Page No 344
Page No 345
Page No 346
Page No 347
Page No 348
Page No 349
Page No 350
Page No 351
Page No 352
Page No 353
Page No 354
Page No 355
Page No 356
Page No 357
Page No 358
Page No 359
Page No 360
Page No 361
Page No 362
Page No 363
Page No 364
Page No 365
Page No 366
Page No 367
Page No 368
Page No 369
Page No 370
Page No 371
Page No 372
Page No 373
Page No 374
Page No 375
Page No 376
Page No 377
Page No 378
Page No 379
Page No 380
Page No 381
Page No 382
Page No 383
Page No 384
Page No 385
Page No 386
Page No 387
Page No 388
Page No 389
Page No 390
Page No 391
Page No 392
Page No 393
Page No 394
Page No 395
Page No 396
Page No 397
Page No 398
Page No 399
Page No 400
Page No 401
Page No 402
Page No 403
Page No 404
Page No 405
Page No 406
Page No 407
Page No 408
Page No 409
Page No 410
Page No 411
Page No 412
Page No 413
Page No 414
Page No 415
Page No 416
Page No 417
Page No 418
Page No 419
Page No 420
Page No 421
Page No 422
Page No 423
Page No 424
Page No 425
Page No 426
Page No 427
Page No 428
Page No 429
Page No 430
Page No 431
Page No 432
Page No 433
Page No 434
Page No 435
Page No 436
Page No 437
Page No 438
Page No 439
Page No 440
Page No 441
Page No 442
Page No 443
Page No 444
Page No 445
Page No 446
Page No 447
Page No 448
Page No 449
Page No 450
Page No 451
Page No 452
Page No 453
Page No 454
Page No 455
Page No 456
Page No 457
Page No 458
Page No 459
Page No 460
Page No 461
Page No 462
Page No 463
Page No 464
Page No 465
Page No 466
Page No 467
Page No 468
Page No 469
Page No 470
Page No 471
Page No 472
Page No 473
Page No 474
Page No 475
Page No 476
Page No 477
Page No 478
Page No 479
Page No 480
Page No 481
Page No 482
Page No 483
Page No 484
Page No 485
Page No 486
Page No 487
Page No 488
Page No 489
Page No 490
Page No 491
Page No 492
Page No 493
Page No 494
Page No 495
Page No 496
Page No 497
Page No 498
Page No 499
Page No 500
Page No 501
Page No 502
Page No 503
Page No 504
Page No 505
Page No 506
Page No 507
Page No 508
Page No 509
Page No 510
Page No 511
Page No 512
Page No 513
Page No 514
Page No 515
Page No 516
Page No 517
Page No 518
Page No 519
Page No 520
Page No 521
Page No 522
Page No 523
Page No 524
Page No 525
Page No 526
Page No 527
Page No 528
Page No 529
Page No 530
Page No 531
Page No 532
Page No 533
Page No 534
Page No 535
Page No 536
Page No 537
Page No 538
Page No 539
Page No 540
Page No 541
Page No 542
Page No 543
Page No 544
Page No 545
Page No 546
Page No 547
Page No 548
Page No 549
Page No 550
Page No 551
Page No 552
Page No 553
Page No 554
Page No 555
Page No 556
Page No 557
Page No 558
Page No 559
Page No 560
Page No 561
Page No 562
Page No 563
Page No 564
Page No 565
Page No 566
Page No 567
Page No 568
Page No 569
Page No 570
Page No 571
Page No 572
Page No 573
Page No 574
Page No 575
Page No 576
Page No 577
Page No 578
Page No 579
Page No 580
Page No 581
Page No 582
Page No 583

                        Name        NOC           Discipline
0            RAHAYU Apriyani  Indonesia            Badminton
1            AALERUD Katrine     Norway         Cycling Road
2                ABAD Nestor      Spain  Artistic Gymnastics
3          ABAGNALE Giovanni      Italy               Rowing
4             ABALDE Alberto      Spain           Basketball
...                      ...        ...                  ...
11667  ZWICKER Martin Detlef    Germany               Hockey
11668      ZWOLINSKA Klaudia     Poland         Canoe Slalom
11669           ZYKOVA Yulia        ROC             Shooting
11670      ZYUZINA Ekaterina        ROC              Sailing
11671        ZYZANSKA Sylwia     Poland              Archery

[11672 rows x 3 columns]

In [154]:
athletes_df=athletes_df.drop_duplicates().reset_index(drop=True)

In [156]:
athletes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11655 entries, 0 to 11654
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        11655 non-null  object
 1   NOC         11655 non-null  object
 2   Discipline  11655 non-null  object
dtypes: object(3)
memory usage: 273.3+ KB

In [157]:
athletes_df.to_csv('AtheletesByCountryDiscipline.csv',index=False)

# Coaches

In [171]:
driver = driver = webdriver.Chrome(executable_path=r'/Users/teetusaini/Downloads/chromedriver')
driver.implicitly_wait(10) # wait up to 10 seconds while trying to locate elements
driver.maximize_window()
driver.get('https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/coaches.htm')

#creating dataframe 
coaches_df= pd.DataFrame(columns=['Name','NOC','Discipline','Event'])

for page in range(0, 22):
    table = driver.find_element_by_css_selector('div.col-sm-12')
    events= table.find_elements_by_tag_name('td')    
    for i in range(0,len(events),4):
        row={'Name':events[i].text,'NOC':events[i+1].text,'Discipline':events[i+2].text,'Event': events[i+3].text}
        coaches_df=coaches_df.append(row,ignore_index=True)

    element = driver.find_element_by_xpath('//*[@id="entries-table_next"]/a')
    driver.execute_script("arguments[0].click();", element)
    driver.implicitly_wait(10)
    
driver.quit()
print('Completed...')
coaches_df= coaches_df.drop_duplicates().reset_index(drop=True)
coaches_df.to_csv('CoachesNOCDisciplineEvent.csv',index=False)
coaches_df

Completed...

,Name,NOC,Discipline,Event
0,ABDELMAGID Wael,Egypt,Football,
1,ABE Junya,Japan,Volleyball,
2,ABE Katsuhiko,Japan,Basketball,
3,ADAMA Cherif,CÃ´te d'Ivoire,Football,
4,AGEBA Yuya,Japan,Volleyball,
...,...,...,...,...
401,ZAMORA PEDREIRA Javier,Spain,Basketball,
402,ZAMPIERI Francesca,Liechtenstein,Artistic Swimming,Duet
403,ZHANG Xiaohuan,People's Republic of China,Artistic Swimming,
404,ZIJP Simon,Netherlands,Hockey,
405,ZONDI Nkuliso,South Africa,Hockey,Women

In [172]:
coaches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        406 non-null    object
 1   NOC         406 non-null    object
 2   Discipline  406 non-null    object
 3   Event       406 non-null    object
dtypes: object(4)
memory usage: 12.8+ KB